body{
  background-color: #EEEEEE;
  font-family: 'Source Sans Pro', sans-serif;
  
}
.App {
  text-align: center;
  margin: 0 auto;
}
#root{
  text-align: center;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  max-width: 960px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  fill: silver;
}

.link:focus{
  outline: none;
}

.App-header {
  min-height: 150px;
  line-height: 80px;

}

.App-title {
  color:#dcdcdc;
}

.App-intro {
  font-size: large;
}

.menu{
  min-height: 50px;
  max-height: 0em;
  transition: max-height 0.4s;
  transition: display 0.4s;
}
#burger:checked ~ .menu {
  max-height: 25rem;
  display: inline-block;
  z-index: 99;
}

.sr-only {
  color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.dropdown-hover{
  cursor:pointer;
}
.dropdown-content{
  display: none;
  margin-top: 0;
  padding: 0;
  z-index: 2;
 
}
.dropdown-hover:hover .dropdown-content{
  display: block;
  z-index: 99;
}
@media screen and (min-width:30em){
  .w-16-ns{
    width:16%;
  }
}

@media screen and (min-width: 30em) and (max-width:60em)
{  .App-header {
    line-height: 80px;
  }
}

@media screen and (min-width: 60em)
{  .App-header {
    line-height: 140px;
  }
}

@media (min-width: 80em)
{
.ph5-xl {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
}
.ex3::-webkit-scrollbar{
  height:5px;
  background-color:transparent;
  } 
.ex3::-webkit-scrollbar-thumb{
  background-color:#B03C3F;
  border-radius:5px;
  width: 5px;
  }
  .ex3::-webkit-scrollbar-thumb:hover{
  background-color:#BF4649;
  border:1px solid #333333;
  }
  .ex3::-webkit-scrollbar-thumb:active{
  background-color:#A6393D;
  border:1px solid #333333;
  } 
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
  .modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    padding: 30px;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/*Colors*/
.bg-header{
 /* background-color: #7713f1;*/
/* background: linear-gradient(to bottom ,#E7040F,#34495e);*/
background: linear-gradient(to bottom ,#99d066 ,#00b248 )
 
}

.bg-header-button{
  background-color: #1b5e20;
  color: blanchedalmond;
}
.bg-nav{
  background-color: #333333;
}
.color-nav{
color:#fff;
}
.hover-color-var:hover{
color:#fefefe;
}
.dk-bg-dark-purple{
  background: #32026f;
}
.dk-bg-green-gray{
  background: #34495e;
}
.label{
  width: 34px;
  height: 50px;
  position: absolute;
  display: block;
  bottom: 15px;
  left: -7px;
  z-index: 999;
}
.z-99{
  z-index: 99;
}
.z-999{
  z-index: 999;
}
.label-hot{
  background: transparent url('/images/label/hot-label.png') no-repeat;
}
.label-full{
  background: transparent url('/images/label/full-label.png') no-repeat;
}
.img-item{
  transition: all 0.5s ease-in-out;
}
.img-item:hover{
  transform: scale(1.05);
}
.top-label{
  color: #FFF;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #AAA;
}
.top1{
  background-color: #e74c3c !important;
}
.top2{
  background-color: #2980b9 !important;
}
.top3{
  background-color: #4CAF50 !important;
}


.list-table tbody tr:nth-child(even){
  background:#f4f4f4;/*near-white */
}
.list-table tbody tr:nth-child(odd){
  background: #eee;
}
.list-table td{
  padding: .2rem;
}
.social img{
  width: 48px;
  height: 48px;
  margin: auto 10px;
  border-radius: 48px;
}
.nosifer{
  font-family: 'Nosifer', cursive;
  
}